body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

ul#taskList {
    list-style-type: none;
    padding: 0;
}

ul#taskList li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#createTaskForm {
    display: inline-block;
}

#createTaskForm input[type="text"] {
    padding: 5px;
    border-radius: 3px;
    border: none;
    margin-right: 5px;
}

#createTaskForm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#createTaskForm button:hover {
    background-color: #45a049;
}
